<ng-template #primaryNav>
  @for (entry of entries; track entry.kind === 'group' ? entry.heading : entry.label) {
    @if (entry.kind === 'item') {
      <goab-work-side-menu-item
        [icon]="entry.icon"
        [label]="entry.label"
        [url]="entry.url"
        [current]="entry.current ?? false"></goab-work-side-menu-item>
    } @else {
      <goab-work-side-menu-group [heading]="entry.heading" [icon]="entry.icon">
        @for (child of entry.items; track child.label) {
          <goab-work-side-menu-item
            [label]="child.label"
            [url]="child.url"
            [current]="child.current ?? false"></goab-work-side-menu-item>
        }
      </goab-work-side-menu-group>
    }
  }
</ng-template>

<ng-template #secondaryNav>
  <goab-work-side-menu-item [icon]="searchItem.icon" [label]="searchItem.label" [url]="searchItem.url"></goab-work-side-menu-item>
  <goab-work-side-menu-item [icon]="notificationsItem.icon" [label]="notificationsItem.label" [url]="notificationsItem.url"></goab-work-side-menu-item>
  <goab-work-side-menu-item [icon]="helpItem.icon" [label]="helpItem.label" [url]="helpItem.url"></goab-work-side-menu-item>
</ng-template>

<ng-template #accountNav>
  <div class="account-menu" role="menu" aria-label="Account menu for {{ userName }}">
    @for (item of accountMenuItems; track item.action) {
      <button
        type="button"
        role="menuitem"
        class="account-menu-item"
        (click)="onAccountAction(item.action)">
        <goab-icon [type]="item.icon" size="small"></goab-icon>
        <span>{{ item.label }}</span>
      </button>
    }
  </div>
</ng-template>

<goab-work-side-menu
  [heading]="heading"
  url="#"
  [userName]="userName"
  [userSecondaryText]="userSecondaryText"
  [open]="isMenuOpen"
  [primaryContent]="primaryNav"
  [secondaryContent]="secondaryNav"
  [accountContent]="accountNav"
  (onToggle)="onMenuToggle()"
  aria-label="Workspace navigation">
</goab-work-side-menu>
